@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% { border-color: transparent; }
}

@keyframes colorChange {
  from { fill: rgba(245, 245, 245, 0.808); }
  to   { fill: var(--primary-light-color); }
}

@keyframes wanderBackground {
  0% {
    background-position:
      0% 0%, 100% 0%, 0% 100%, 100% 100%,
      50% 50%, 20% 80%, 80% 20%, 40% 40%;
  }

  25% {
    background-position:
      60% 10%, 15% 65%, 80% 90%, 5% 20%,
      30% 60%, 85% 35%, 40% 5%, 60% 45%;
  }

  50% {
    background-position:
      80% 50%, 40% 5%, 10% 80%, 90% 30%,
      55% 75%, 15% 45%, 70% 15%, 25% 55%;
  }

  75% {
    background-position:
      30% 90%, 70% 20%, 90% 70%, 15% 40%,
      45% 25%, 60% 55%, 20% 30%, 75% 65%;
  }

  100% {
    background-position:
      0% 0%, 100% 0%, 0% 100%, 100% 100%,
      50% 50%, 20% 80%, 80% 20%, 40% 40%;
  }
}