/* https://www.csshero.org/mesher/ <- background made with*/ 

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
:root{
  --primary-dark-color: #070d29;
  --secondary-dark-color: #1b4973;
  --secondary-dark-color-fade: #1b487367; /* <- SIX SEVEEEN */
  --primary-light-color:#52cbbe;
  --header-primary-light-color: #f0f0f0;
  --hover-color: #52cbbe67;
  --font-family: 'IBM Plex Mono', monospace;
  --calm-font-family: 'Lexend', sans-serif;
}


.App {
  background-color: hsla(228,68%,10%,1);
  background-image:
    radial-gradient(at 47% 75%, hsla(228,68%,10%,1) 0px, transparent 50%),
    radial-gradient(at 14% 76%, hsla(228,68%,10%,1) 0px, transparent 50%),
    radial-gradient(at 15% 20%, hsla(228,68%,10%,1) 0px, transparent 50%),
    radial-gradient(at 48% 20%, hsla(228,68%,10%,1) 0px, transparent 50%),
    radial-gradient(at 2% 3%, hsla(207,60%,30%,0.58) 0px, transparent 50%),
    radial-gradient(at 2% 96%, hsla(207,60%,30%,0.44) 0px, transparent 50%),
    radial-gradient(at 86% 48%, hsla(208,61%,30%,1) 0px, transparent 50%),
    radial-gradient(at 82% 49%, hsla(188,39%,36%,1) 0px, transparent 50%),
    radial-gradient(at 4% 2%, hsla(207,63%,51%,0.77) 0px, transparent 80%),
    radial-gradient(at 85% 54%, hsla(197,18%,21%,1) 0px, transparent 50%),
    radial-gradient(at 86% 68%, hsla(122,12%,41%,1) 0px, transparent 50%),
    radial-gradient(at 79% 34%, hsla(122,13%,41%,1) 0px, transparent 50%);
  
  background-size: 100% 100%;
  animation: breatheScale 7s ease-in-out infinite;
  
  height: 100%;
  display: grid;
}

@keyframes breatheScale {
  0%   { background-size: 100% 100%; }
  50%  { background-size: 140% 140%; }
  100% { background-size: 100% 100%; }
}


/* .page-transition {
  animation: pageSwitch 0.5s ease;
} */

/* @keyframes pageSwitch {
  0% { opacity: 1; }
  50% { background-color: black; }
  100% { opacity: 1; }
} */



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
