@import './app.css';

.collapsibleSection {
  border: 2px solid var(--hover-color);
  background-color: var(--secondary-dark-color-fade);
  border-radius: 8px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  margin-bottom: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  overflow: hidden;
}

.collapsibleButton {
  width: 100%;
  text-align: left;
  padding-left: 0%;
  padding-top: 2%;
  background: none;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--header-primary-light-color);
}

.collapsibleContent {
  /* padding: 1rem; */
}

/* right side */
.rightSide,.leftSide{
  color: var(--primary-light-color);
}

.rightSide{
  padding-top:0px !important;
  padding-bottom:0px !important;
  /* border: 2px solid var(--primary-light-color); */
}

.rightSide__inner{
 background-color: var(--secondary-dark-color-fade);
 width:90%;
 height:100%;
 margin-left: 5%;
 overflow-y: auto;
 padding-bottom: 20%;
}

.rightSide__inner::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

.rightSide__inner::-webkit-scrollbar-track {
  background: #1b4973; /* track color */
  border-radius: 4px;
}

.rightSide__inner::-webkit-scrollbar-thumb {
  background-color: #52cbbe67; /* thumb color */
  border-radius: 4px;
  border: 2px solid #1b4973; /* optional: adds padding around thumb */
}

.rightSide__h{
  margin: 0px !important;
  padding-top: 20%;
  text-align: center;
  font-family: var(--calm-font-family);
  font-size: 2.1rem;
  font-weight: 600;
  color: var(--header-primary-light-color);
}

.rightSide__p,.rightSideSection__p{
  margin: 0px !important;
  font-family: var(--calm-font-family);
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
  color: var(--header-primary-light-color);
  padding-left: 5%;
  padding-right: 5%;
}

.rightSideSection__p_end{
  margin: 0px !important;
  font-family: var(--calm-font-family);
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
  color: var(--header-primary-light-color);
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 15%;
}

.rightSideSection__h1{
  margin: 0px !important;
  padding-top: 2%;
  padding-left: 2%;
  text-align: center;
  font-family: var(--calm-font-family);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--header-primary-light-color);
}

.rightSideSection__h2{
  margin: 0px !important;
  padding-top: 2%;
  text-align: center;
  font-family: var(--calm-font-family);
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--header-primary-light-color);
}

.rightSideSection__h3{
  margin: 0px !important;
  padding-top: 5%;
  padding-left: 5%;
  text-align: left;
  font-family: var(--calm-font-family);
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--header-primary-light-color);
}

.rightSideSection__pseudoCode{
  margin: 0px !important;
  font-family: var(--font-family);
  font-size: 0.5rem;
  font-weight: 400;
  text-align: left;
  width: max-content;
  background-color: var(--primary-dark-color);
  border-radius: 8px;
  border: 2px solid var(--primary-light-color);
  padding-left: 2%;
  padding-right: 2%;
}

/* left side */
.leftSide{
  /* border: 2px solid var(--primary-light-color); */
  overflow: hidden;
}

.leftSide__inner{
 /* background-color: var(--secondary-dark-color-fade); */
 width:85%;
 height:70%;
 max-height: 70%;
 margin-left: 10%;
 margin-top: 18%;
 /* display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 1fr 0.1fr;
 grid-column-gap: 0px;
 grid-row-gap: 0px; */
}

.leftSide__inner_upper{
  /* border: 2px solid var(--primary-light-color); */
  grid-area: 1 / 1 / 2 / 2;
}

.leftSide__h{
  margin: 0px !important;
  text-align: center;
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--header-primary-light-color);
}

.leftSide__h strong{
  font-weight: 600;
}



/* footer */
.footer{
  /* border: 2px solid var(--primary-light-color); */
}

.footer__inner{
 /* background-color: var(--secondary-dark-color); */
 height: 100%;
 padding-left: 10%;
}

.footer__h{
  color: var(--primary-light-color);
  margin: 0px !important;
  font-family: var(--font-family);
  padding-left: 3%;
}

.leftSide__p{
  margin: 0px !important;
  font-family: var(--font-family);
  font-size: 0.95rem;
  color: var(--header-primary-light-color);
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
}

.leftSide__menu {
  display: grid;
  background-color: var(--secondary-dark-color-fade);
  border-radius: 5px;
  grid-template-columns: 1fr;
  grid-auto-rows: 18%;
  gap: 2%;
  min-height: min-content;
  max-height: max-content;
  overflow-y: auto;
  padding-top: 2%;
  padding-bottom: 0%;
  margin-top: 2%;
}

.leftSide__menu::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

.leftSide__menu::-webkit-scrollbar-track {
  background: #1b4973; /* track color */
  border-radius: 4px;
}

.leftSide__menu::-webkit-scrollbar-thumb {
  background-color: #52cbbe67; /* thumb color */
  border-radius: 4px;
  border: 2px solid #1b4973; /* optional: adds padding around thumb */
}

.leftSide__menu_item {
  background-color: var(--secondary-dark-color-fade);
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.leftSide__menu_item:hover {
  background-color: var(--hover-color);
}

.leftSide__menu_item:active {
  background-color: var(--hover-color);
  transform: scale(0.98);
}

.leftSide__menu_item_name{
  font-family: var(--calm-font-family);
  font-weight: 600;
  font-size: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 4%;
  grid-area: 1 / 1 / 3 / 2;
  height: 100%;
}

.leftSide__menu_item_description{
  font-family: var(--calm-font-family);
  font-weight: 400;
  font-size: 1.0rem;
  color: var(--header-primary-light-color);
  display: flex-start;
  align-items: center;
  justify-content: left;
  grid-area: 1 / 2 / 3 / 3;
  padding-top: 2%;
  height: 50%;
}

.leftSide__menu_item_badges{
  font-family: var(--calm-font-family);
  font-weight: 400;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-end;
  justify-content: left;
  grid-area: 2 / 2 / 3 / 3;
  height: 100%;
}

.leftSide__inner_lower{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding-bottom: 2%;
  padding-left: 3%;
  grid-area: 2 / 1 / 3 / 2;
}

.leftSide__btn {
  display: flex;            /* makes the button a flex container */
  justify-content: center;  /* horizontal centering */
  align-items: center;      /* vertical centering */
  
  margin-top: 2%;
  margin-right: 2%;
  padding: 0.7rem 2rem;    /* adjust spacing around text */
  font-family: var(--calm-font-family);
  font-weight: 600;
  font-size: 1.0rem;
  background-color: var(--secondary-dark-color);
  color: var(--header-primary-light-color);
  border-radius: 5px;
  border: 2px solid var(--secondary-dark-color);
}

.leftSide__btn:hover {
  background-color: var(--hover-color);
}

.leftSide__btn:active {
  background-color: var(--hover-color);
  transform: scale(0.95);
}
