body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
display: grid;
max-height: 100%;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr 0.2fr;
overflow:hidden;
}

.leftSide { grid-area: 1 / 1 / 2 / 2; }
.rightSide { grid-area: 1 / 2 / 3 / 3; }
.footer { grid-area: 2 / 1 / 3 / 2; }
