@import '../../App.css';

/* right side */
.rightSide,.leftSide{
  color: var(--primary-light-color);
}

.rightSide{
  padding-top:0px !important;
  padding-bottom:0px !important;
  border: 2px solid var(--primary-light-color);
}

.rightSide__inner{
 background-color: var(--secondary-dark-color-fade);
 width:90%;
 height:100%;
 margin-left: 5%;
}

.rightSide__h{
  margin: 0px !important;
  padding-top: 20%;
  text-align: center;
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--header-primary-light-color);
}

/* left side */
.leftSide{
  border: 2px solid var(--primary-light-color);
}

.leftSide__inner{
 background-color: var(--secondary-dark-color-fade);
 width:80%;
 height:80%;
 margin-left: 10%;
 margin-top: 18%;
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 1fr 0.1fr;
 grid-column-gap: 0px;
 grid-row-gap: 0px;
}

.leftSide__h{
  margin: 0px !important;
  text-align: center;
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--header-primary-light-color);
}

.leftSide__h strong{
  font-weight: 600;
}

.leftSide__inner_upper{
  border: 2px solid var(--primary-light-color);
  grid-area: 1 / 1 / 2 / 2;
}

.leftSide__inner_lower{
  border: 2px solid var(--primary-light-color);
  grid-area: 2 / 1 / 3 / 2;
}

/* footer */
.footer{
  border: 2px solid var(--primary-light-color);
}

.footer__inner{
 /* background-color: var(--secondary-dark-color); */
 height: 100%;
 padding-left: 10%;
}

.footer__h{
  color: var(--primary-light-color);
  margin: 0px !important;
  font-family: var(--font-family);
  padding-left: 3%;
}

.leftSide__p{
  margin: 0px !important;
  font-family: var(--font-family);
  color: var(--header-primary-light-color);
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
}

.leftSide__menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 20%;
  gap: 2%;
  max-height: calc(5 * 20%);
  overflow-y: auto;
  padding-bottom: 10%;
  margin-top: 2%;
}

.leftSide__menu::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

.leftSide__menu::-webkit-scrollbar-track {
  background: #1b4973; /* track color */
  border-radius: 4px;
}

.leftSide__menu::-webkit-scrollbar-thumb {
  background-color: #52cbbe67; /* thumb color */
  border-radius: 4px;
  border: 2px solid #1b4973; /* optional: adds padding around thumb */
}

.leftSide__menu_item {
  background-color: var(--secondary-dark-color-fade);
  border-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.leftSide__menu_item_name{
  grid-area: 1 / 1 / 3 / 2;
  height: 100%;
}

.leftSide__menu_item_description{
  grid-area: 1 / 2 / 3 / 3;
  height: 100%;
}

.leftSide__menu_item_badges{
  grid-area: 2 / 2 / 3 / 3;
  height: 100%;
}

.leftSide__inner_lower{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding-bottom: 2%;
  padding-left: 3%;
}

.leftSide__btn {
  display: flex;            /* makes the button a flex container */
  justify-content: center;  /* horizontal centering */
  align-items: center;      /* vertical centering */
  
  margin-top: 2%;
  margin-right: 2%;
  padding: 0.5rem 1rem;    /* adjust spacing around text */
  font-family: var(--font-family);
  background-color: var(--secondary-dark-color);
  color: var(--header-primary-light-color);
  border-radius: 5px;
}
