@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
:root{
  --primary-dark-color: #070d29;
  --secondary-dark-color: #1b4973;
  --secondary-dark-color-fade: #1b487367; /* <- SIX SEVEEEN */
  --primary-light-color:#52cbbe;
  --header-primary-light-color: #f0f0f0;
  --hover-color: #52cbbe67;
  --font-family: 'IBM Plex Mono', monospace;
  --calm-font-family: 'Lexend', sans-serif;
}

.App {
  background-color: var(--primary-dark-color);
  background-image:
  radial-gradient(at 46% 18%, var(--primary-dark-color) 0px, transparent 50%),
  radial-gradient(at 44% 86%, var(--primary-dark-color) 0px, transparent 50%),
  radial-gradient(at 45% 54%, var(--primary-dark-color) 0px, transparent 50%),
  radial-gradient(at 86% 48%, var(--primary-dark-color) 0px, transparent 50%),
  radial-gradient(at 82% 49%, hsla(188,39%,36%,1) 0px, transparent 50%),
  radial-gradient(at 85% 54%, hsla(197,18%,21%,1) 0px, transparent 50%),
  radial-gradient(at 86% 68%, hsla(122,12%,41%,1) 0px, transparent 50%),
  radial-gradient(at 79% 34%, hsla(122,13%,41%,1) 0px, transparent 50%);
  background-size: cover;
  display: grid;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
